@use 'mixins';

body {
  font-size: 16px;
  font-family: var(--font-family-base), sans-serif;
  font-weight: 500;
  line-height: 1.62;
  color: var(--color-light);
  background-color: var(--color-dark);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3 {
  font-weight: 400;
}

h1, .h1 {
  @include mixins.fluid-text(96, 50);
  line-height: 1.10;
  letter-spacing: 0;
}

h2, .h2 {
  @include mixins.fluid-text(50, 40);
  line-height: 1.2;
}

  h3, .h3 {
    @include mixins.fluid-text(35,25);
  }


